{% extends 'StintChoreBundle::layout.html.twig' %}

{% block content %}
  <h1>Chores List</h1>
  <ul>
    {% for chore in chores %}
      <li>{% include 'StintChoreBundle:Chore:description.html.twig' %}</li>
    {% endfor %}
  </ul>
  <a href="{{ path('chore_new') }}">New Chore</a>
{% endblock %}