{% extends 'StintChoreBundle::layout.html.twig' %}

{% form_theme form 'form_table_layout.html.twig' %}

{% block content %}
  <form action="{{ path('chore_new', { 'listId': chore.choreList.id }) }}" method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
  </form>
  <a href="{{ path('chorelist_show', { 'id': chore.getChoreList.id }) }}">Back to list</a>
{% endblock %}