{% extends 'StintChoreBundle::layout.html.twig' %}

{% block content %}
  <h1>{{ choreList.name }}</h1>
  <ul>
    {% for chore in choreList.chores %}
      <li>{% include 'StintChoreBundle:Chore:description.html.twig' %}</li>
    {% else %}
      <li>No chores</li>
    {% endfor %}
  </ul>
  <a href="{{ path('chore_new', { 'listId': choreList.id }) }}">Add chore</a><br/>
  <a href="{{ path('chorelist_list') }}">Lists</a>
{% endblock %}