{% extends 'StintChoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {% render "StintChoreBundle:Default:breadcrumbs" with {'object': choreList} %}
{% endblock %}

{% block content %}
  <h1>{{ choreList.name }}</h1>
  <ul>
    {% for chore in choreList.chores %}
      <li>
        {% include 'StintChoreBundle:Chore:description.html.twig' %}
        <a href="{{ path('chore_delete', { id: chore.id }) }}">Delete</a>
      </li>
    {% else %}
      <li>No chores</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block bottomNav %}
    <a href="{{ path('chore_new', { 'listId': choreList.id }) }}">Add chore</a><br/>
{% endblock %}